@tailwind base;
@tailwind components;
@tailwind utilities;

.fondo {
  background: url(/fondo.jpg);
  background-size: cover;
  background-position: center;
}

td {
  @apply py-2 border
}

th {
  @apply bg-indigo-600 text-white border py-2
}

tr:nth-child(even) {
  @apply bg-blue-200 border
}
